@font-face {
    font-family: 'cookiefont';
    src: url(Fonts/cookie_bold.TTF) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'cookiefont';
    src: url(Fonts/cookie_regular.TTF) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'zzzfont';
    src: url(Fonts/印品鸿蒙体.ttf) format('truetype');
    font-weight: bolder;
}


 * {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: cookiefont;
    font-weight: normal;
    display: grid;
    grid-template-columns: 65% 35%;
    height: 100vh;
}

#cardArea {
    background-color: rgb(189, 224, 254);
}

#summonArea {
    background-color: rgb(93, 63, 211);
}

.absoluteButton {
    position: absolute;
    top: 1.778vh;
    width: 8vh;
    height: 8vh;
    font-weight: bold;
    font-size: 4.667vh;
    margin: 0;
    background-color: rgb(83,162,231);
    border-radius: 4vh;
    text-align: center;
    align-content: center;
}

#exit {
    font-size: 5.5vh;
    right: 1.778vh;
}
#info {
    font-size: 6vh;
    right: 10.667vh;
}
#history {
    right: 19.556vh;
    width: 34vh;
}
#roundNum {
    left: 1.778vh;
    width: 25vh;
}
#endRound {
    width: 11vh;
    height: 11vh;
    border-radius: 5.5vh;
    left: 1.778vh;
    top: 47%;
}
#enemyDiNum, #playerDiNum{
    left: 3.278vh;
    text-align: center;
    border: 0.8vh solid rgb(228, 241, 255);
}
#enemyDiNum {
    top: 37%;
}
#playerDiNum {
    top: 60%;
}

#diceArea {
    position: absolute;
    background-color: rgb(83,162,231);
    border-radius: 4vh;
    width: 16vh;
    height: max-content;
    right: 1.778vh;
    top: 14.5%;
    display: flexbox;
    padding: 1vh 0 1vh 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 1vh;
}

#diceArea::-webkit-scrollbar {
    display: none;
}

.dice {
    width: 6vh;
    margin-left: 1vh;
}

/*How dice that are selected look like*/
#attack {
    border: 0.5vh solid gold;
    border-radius: 3vh;
}

#actionButtons {
    position: absolute;
    background-color: rgb(228, 241, 255);
    height: 16vh;
    width: 40%;
    right: 0%;
    bottom: 0%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5vh;
    border-top-left-radius: 6vh;
}

#switch, #normalAttack, #skill, #ultimate {
    width: 10vh;
    justify-self: center;
    align-self: start;    
}

.actionTitle {
    font-weight: bold;
    font-size: 18px;
}