@font-face {
    font-family: 'cookiefont';
    src: url(Fonts/cookie_bold.TTF) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'cookiefont';
    src: url(Fonts/cookie_regular.TTF) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'zzzfont';
    src: url(Fonts/印品鸿蒙体.ttf) format('truetype');
    font-weight: bolder;
}


 * {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: cookiefont;
    font-weight: normal;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100vh;
    user-select: none; 
}


.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 3;
    cursor: pointer;
}
.centerOverlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#moveHistoryOverlay, #cardDescriptionOverlay{
    display: flex;
    flex-direction: column;
}
#playerTurnOverlay {
    transition: transform 0.5s ease-in-out;
    left: -100%;
}

/* TEMPORARY */
#diceOverlay, #endGameOverlay, #leaveGameOverlay, #moveHistoryOverlay, #cardDescriptionOverlay, #actionSelectionOverlay {
    display: none;
}
#endRoundOverlay {
    display: none;
}

#diceTitle {
    width: 100%;
    text-align: center;
    color: rgb(228, 241, 255);
    font-weight: bold;
    font-size: 54px;
    margin-bottom: 3vh;
}
#gameResultTitle{
    text-align: center;
    color: rgb(255, 96, 96);
    font-weight: bold;
    font-size: 92px;
}
#leaveGameTitle, #endRoundTitle {
    text-align: center;
    color: rgb(228, 241, 255);
    font-weight: bold;
    font-size: 92px;
}
#historyTitle{
    background-color: rgb(83,162,231);
    margin: 1vh;
    font-weight: bold;
    font-size: 54px;
    padding: 1vh;
    border-radius: 2vh;
}
#playerTurnTitle {
    text-align: center;
    color: rgb(228, 241, 255);
    font-weight: bold;
    font-size: 92px;
}
#gameStartTitle {
    text-align: center;
    color: rgb(228, 241, 255);
    font-weight: bold;
    font-size: 92px;
}

#playerTurnOverlay.active {
    transform: translateX(100%);
}


#diceAreaBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
#diceRollArea {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 0.75vh;
}

#historyArea {
    background-color: rgb(228, 241, 255);
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#historyBox {
    margin: 1vh;
    background-color: rgb(189, 224, 254);
    font-size: 18px;
    padding: 0 1vh 1vh 1vh;
    border-radius: 2vh;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
#historyBox::-webkit-scrollbar{
    display: none;
}

#cardDescriptionArea {
    background-color: rgb(228, 241, 255);
    width: 25%;
    aspect-ratio: 2.25/3.5;
    margin: 2vh;
    padding: 1vh;
    border-radius: 2vh;
}

.clickContinue {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 4vh; 
    color: rgb(228, 241, 255);
    font-weight: bold;
    font-size: 18px;
}
.buttonArea {
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    gap: 1vh;
}

.overlayButton {
    background-color: rgb(228, 241, 255);
    font-size: 24px;
    font-weight: bold;
    padding: 1vh;
    border-radius: 2vh;
}

.overlayButton:hover {
    background-color: rgb(125, 194, 255);
}

.diceRoll {
    width: 8vh;
}
.additional {
    display: none;
}

/*EXAMPLE*/
#diceOne {
    border: 0.5vh solid gold;
    border-radius: 4vh;
}

#cardArea {
    background-color: rgb(189, 224, 254);
    display: grid;
    grid-template-rows: 50% 50%;
}

#playerArea, #enemyArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.playerCard, .enemyCard {
    background-color: rgb(228, 241, 255);
    border-radius: 1vh;
    height: 55%;
    aspect-ratio: 2.25/3.5;
    margin: 1vh;
    position: relative;
}

#one {
    margin-top: 8vh;
}
#Middle {
    margin-bottom: 8vh;
}

.HP, .shieldHP {
    position: absolute;
    background-color: rgb(125, 194, 255);
    width: 4.5vh;
    height: 4.5vh;
    padding: 0.5vh;
    font-weight: bold;
    font-size: 2.22vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -1vh;
    top: -1vh;
    border-radius: 2vh;
    z-index: 2;
}

.shieldHP {
    height: 4.5vh;
    width: 9vh;
    z-index: 1;
    background-color: rgb(117, 86, 241);
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 1vh;
}

#playerShield, #enemyShield {
    background-color: rgb(93, 63, 211, 0.5);
    height: 108%;
    aspect-ratio: 2.25/3.5;
    position: absolute;
    left: -4%;
    top: -4%;
    border-radius: 2vh;
}

.deathOverlay {
    background-color: rgb(0, 0, 0, 0.4);
    height: 100%;
    aspect-ratio: 2.25/3.5;
    position: absolute;
    border-radius: 1vh;
}

.switchArrow {
    z-index: 1;
}
.arrow {
    width: 8vh;
}
#left{
    transform: rotateY(180deg);
    margin-right: 1vh;
}
#right{
    margin-left: 1vh;
}


#summonArea {
    background-color: rgb(93, 63, 211);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    border-left: 1vh solid black;
}

#enemySummonArea, #playerSummonArea {
    display: grid;
    width: max-content;
    grid-template-columns: 50% 50%;
    gap: 2vh;
    padding-left: 3vh;
    z-index: 1;
}
#enemySummonArea {
    padding-bottom: 1.5vh;
}
#playerSummonArea {
    padding-top: 1.5vh;
}

.enemySummon, .playerSummon {
    background-color: rgb(228, 241, 255);
    border-radius: 1vh;
    width: 12vh;
    height: 12vh;
    position: relative;
    align-items: l;
}

.usage {
    background-color: rgb(125, 194, 255);
    border-radius: 1vh;
    position: absolute;
    width: 3vh;
    height: 3vh;
    font-weight: bold;
    font-size: 1.778vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -8%;
    top: -8%;
    z-index: 1;
}
.rounds {
    background-color: rgb(189, 224, 254);
    position: absolute;
    bottom: 0;
    right: 0;
    width: max-content;
    z-index: 1;
    padding: 0.3vh;
    border-radius: 1vh 0 1vh 0;
}

.absoluteButton {
    position: absolute;
    top: 1.778vh;
    width: 8vh;
    height: 8vh;
    font-weight: bold;
    font-size: 4.667vh;
    margin: 0;
    background-color: rgb(83,162,231);
    border-radius: 4vh;
    text-align: center;
    align-content: center;
}

#exit {
    font-size: 5.5vh;
    right: 1.778vh;
}
#info {
    font-size: 6vh;
    right: 10.667vh;
}
#history {
    right: 19.556vh;
    width: 34vh;
}
#roundNum {
    left: 1.778vh;
    width: 25vh;
}
#endRound {
    width: 11vh;
    height: 11vh;
    border-radius: 5.5vh;
    left: 1.778vh;
    top: 47%;
}
#enemyDiNum, #playerDiNum{
    left: 3.278vh;
    text-align: center;
    border: 0.8vh solid rgb(228, 241, 255);
}
#enemyDiNum {
    top: 37%;
}
#playerDiNum {
    top: 60%;
}

#diceArea {
    position: absolute;
    background-color: rgb(83,162,231);
    border-radius: 4vh;
    width: 16vh;
    height: max-content;
    right: 1.778vh;
    top: 20%;
    display: flexbox;
    padding: 1vh 0 1vh 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 1vh;
    z-index: 1;
}

#diceArea::-webkit-scrollbar {
    display: none;
}

.dice {
    width: 6vh;
    margin-left: 1vh;
}

/*How dice that are selected look like*/
#attackDice {
    border: 0.5vh solid gold;
    border-radius: 3vh;
}

#actionButtons {
    position: absolute;
    background-color: rgb(228, 241, 255);
    height: max-content;
    width: 40%;
    right: 0%;
    bottom: 0%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1.5vh;
    border-top-left-radius: 6vh;
}

#switch, #normalAttack, #skill, #ultimate {
    width: 10vh;
    justify-self: center;
    align-self: start;    
}

.actionTitle {
    font-weight: bold;
    font-size: 2vh;
}

.actionCost {
    font-weight: bold;
    font-size: 1.778vh;
}


/* Card Description Overlay Styling */
#name_health {
    display: flex;
    justify-content: space-between;
}
#health {
    display: flex;
    justify-content: center;
    align-items: center;
}

#attributes_roles{
    display: flex;
    gap: 0.3em;
}

.attribute, .roles {
    padding: 0.1em 0.3em 0.1em 0.3em;
    border-radius: 5rem;
    margin: 0 0 0.2em 0;
    font-size: 1.125rem;
}

#coder {
    border: 0.2rem solid rgb(52, 112, 197);
    background-color: rgb(0, 71, 171);
    color: rgb(228, 241, 255);
}
#cyber {
    border: 0.2rem solid rgb(255, 216, 100);
    background-color: rgb(255, 191, 0);
    color: rgb(228, 241, 255);
}
#biotech {
    border: 0.2rem solid rgb(51, 186, 186);
    background-color: rgb(8, 143, 143);
    color: rgb(228, 241, 255);
}
#boohbah {
    border: 0.2rem solid rgb(255, 166, 166);
    background: linear-gradient(to right, rgb(255, 210, 125), rgb(255, 255, 123), rgb(255, 201, 210), rgb(175, 175, 255), rgb(255, 96, 255));
    color: rgb(0, 0, 0);
}
#teacher {
    border: 0.2rem solid rgb(255, 59, 59);
    background-color: rgb(255, 93, 143);
    color: rgb(228, 241, 255);
}
#magical {
    border: 0.2rem solid rgb(156, 209, 255);
    background-color: rgb(189, 224, 254);
    color: rgb(228, 241, 255);
}
#redacted {
    border: 0.2rem solid rgb(167, 0, 0);
    background-color: rgb(74, 0, 0);
    color: rgb(255, 27, 27);
}

#attack {
    border: 0.2rem solid rgb(240, 53, 106);
    background-color: rgb(222, 49, 99);
    color: rgb(228, 241, 255);
}
#tank {
    border: 0.2rem solid rgb(255, 161, 67);
    background-color: rgb(242, 140, 40);
    color: rgb(228, 241, 255);
}
#support {
    border: 0.2rem solid rgb(124, 234, 124);
    background-color: rgb(144, 238, 144);
    color: rgb(228, 241, 255);
}

.single, .aoe, .dot {
    padding: 0.1em 0.35em 0.1em 0.35em;
    border-radius: 5rem;
    font-size: 1.125rem;
    margin: 0;
}

.single {
    border: 0.2rem solid rgb(70, 113, 242);
    background-color: rgb(98, 133, 237);
    color: rgb(228, 241, 255);
}
.aoe {
    border: 0.2rem solid rgb(255, 192, 203);
    background-color: rgb(255, 149, 166);
    color: rgb(228, 241, 255);
}
.dot {
    border: 0.2rem solid rgb(117, 86, 241);
    background-color: rgb(93, 63, 211);
    color: rgb(228, 241, 255);
}
