@font-face {
    font-family: 'cookiefont';
    src: url(fonts/cookie_bold.TTF) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'cookiefont';
    src: url(fonts/cookie_Black.TTF) format('truetype');
    font-weight: bolder;
}@font-face {
    font-family: 'cookiefont';
    src: url(fonts/cookie_regular.TTF) format('truetype');
    font-weight: normal;
}

 * {
    box-sizing: border-box;
}

body {
    font-family: cookiefont;
    font-weight: normal;
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    flex-direction: row;
}

#exit {
    left: 92%;
    top: 2em;
    width: 6em;
    align-self: flex-start;
    position: absolute;
}

#titlePanel {
    margin: 2em 2em 0em 2em;
    height: fit-content;
}

#guidePanel {
    display: grid;
    grid-template-columns: 25% 75%;
    column-gap: 1em;
    margin: 0em 2em 2em 2em;
}

#listContainer {
    border: 1vh solid black;
    border-radius: 2vh;
    margin: 1em 0em 1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    align-self: start;
    position: sticky;
    top: 2em;
}

#infoContainer {
    border: 1vh solid black;
    border-radius: 2vh;
    margin: 1em 1em 1em 0em;
    padding: 3%;
}

#contentList {
    display: grid;
    grid-template-columns: inherit;
    row-gap: 1em;
    width: 100%;
    padding: 5%;
}

.infoSection {
    font-family: cookiefont;
    font-size: 32px;
    font-weight: bolder;
    width: 100%;
    border: 0.2em solid black;
    border-radius: 1vh;
}

.infoTitles {
    font-weight: bolder;
    font-size: 48px;
}

p,li,strong {
    font-size: 24px;
}

ul,ol {
    margin-top: 0em;
}

strong {
    color: blue;
}

p {
    margin-bottom: 0em;
}

table {
    border-color: black;
}