

@font-face {
    font-family: 'cookiefont';
    src: url(Fonts/cookie_bold.TTF) format('truetype'),
         url(Fonts/cookie_regular.TTF) format('truetype'),
         url(Fonts/cookie_Black.TTF) format('truetype');
}

body{
    font-family: cookiefont;
    user-select: none; 
    overflow: hidden;
}


#mainPanel{
    background-image: url(background.jpg);
    background-size: 100%;
    border: none;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#titleCard {
    background-color: hsl(0, 0%, 100%, 50%);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 1em;
    align-items: center;
    padding: 2em;
    height: 50vh;
    width: 80vh;
    border: 0.5em solid rgb(255, 255, 255);
    border-radius: 1em;
}

#cardImage{
    height: inherit;
    max-width: 100%;
    border-radius: inherit;
    object-fit: cover;
    
}

#pageDirectory{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    font-family: cookiefont;
    font-size:32px;
    border: 0.15em solid black;
    border-radius: 0.5em;
    margin: 0.2em;
    padding:0em;
}

#downArrow {
    margin-top: 1em;
    width: 5vh;
    position: relative;
    -webkit-animation: mover s infinite  alternate;
    animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}


#scrollDown, #scrollUp{
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 2em;
}

#lowPanel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

#storyCard {
    width: 120vh;
    font-size: large;
}

.storyParagraph{
    font: url(Fonts/cookie_regular.TTF);
}