@font-face {
    font-family: 'cookiefont';
    src: url(Fonts/cookie_bold.TTF) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'cookiefont';
    src: url(Fonts/cookie_regular.TTF) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'zzzfont';
    src: url(Fonts/印品鸿蒙体.ttf) format('truetype');
    font-weight: bolder;
}


 * {
    box-sizing: border-box;
}

body {
    font-family: cookiefont;
    font-weight: normal;
    background-color: rgb(83,162,231);
    display: flex;
    flex-direction: column;
    user-select: none; 
    overflow-y: scroll;
}

#header {
    display: flex;
    flex-direction: row;
}

#exit {
    left: 90%;
    top: 2em;
    width: 6em;
    align-self: flex-start;
    position: absolute;
}

#titlePanel {
    margin: 2em 2em 0em 2em;
    height: fit-content;
}

#cardPanel {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 1em;
    margin: 0em 2em 2em 2em;
}

.card {
    max-height: 33%;
    width: 100%;
    display: grid;
    place-items: center;
}

.cardImg {
    border: 0.35em solid rgb(185, 222, 255);
    border-radius: 1em;
    width: 100%;
    min-width: 4rem;
    max-width: 12rem;
    aspect-ratio: 2.25/3.5;
    object-fit:cover;
}


.cardName {
    font-size: 18px;
    text-align: center;
    margin: 0.3em 0 0 0;
}



#cardDirectory {
    align-self: start;
    position: sticky;
    top: 2em;
}

#cardContainer {
    background-color: rgb(111, 188, 255);
    border: 1vh solid rgb(228, 241, 255);
    border-radius: 2vh;
    margin: 1em 0em 1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#filterDirectory {
    position: relative;
    display: inline-block;
}

#filterOverlay {
    display: flex;
    column-gap: 1em;
    position: absolute;
    left: 210%;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    max-width: 400%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1em;
    border-radius: 2vh;
}

#verticalDivider {
    border-left: 0.1em solid gray;
}

.aFilter, .rFilter {
    border-radius: 1vh;
    font-family: cookiefont;
    font-weight: bold;
    font-size: 24px;
    margin: 0.2em;
    border: none;
    background-color: rgb(255, 255, 255, 0.5);
}

.aFilter:hover, .rFilter:hover {
    color: rgb(255, 255, 255, 0.8);
}

#attributeTitle, #roleTitle {
    text-align: center;
    font-size: 22px;
    margin-top: 0;
}

#filter {
    background-color: rgb(111, 188, 255);
    border: 1vh solid rgb(228, 241, 255);
    border-radius: 2vh;
    font-family: cookiefont;
    font-weight: bold;
    font-size: 24px;
    width: 200%;
}

#infoContainer {
    background-color: rgb(111, 188, 255);
    border: 1vh solid rgb(228, 241, 255);
    border-radius: 2vh;
    height: max-content;
    margin: 1em 1em 1em 0em;
    padding: 3%;
    display: grid;
    grid-template-columns: 30% 70%;
    user-select: none; 
}

#infoCardImg {
    aspect-ratio: 2.25/3.5;
    max-width: 95%;
    max-height: 100%;
    border-radius: 1.25em;
    object-fit: cover;
    transition: transform 2s;
    border: 0.5em solid black;
}

#contentList {
    background-color: rgb(111, 188, 255);
    border-top-left-radius: 1.25vh;
    border-bottom-left-radius: 1.25vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 1em;
    column-gap: 0.5em;
    width: 100%;
    padding: 5%;
}

#information {
    /*background-color: rgb(228, 241, 255);*/
    background: linear-gradient(-45deg, #efefef 40%, #fafafa 50%, #efefef 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
    border-radius: 1em;
    padding: 1em;
}

@keyframes shimmer {
   to {
      background-position-x: 0%
   }
}

#name_health {
    display: flex;
    justify-content: space-between;
}
#health {
    display: flex;
    justify-content: center;
    align-items: center;
}

#attributes_roles{
    display: flex;
    gap: 0.3em;
}

.attribute, .roles {
    padding: 0.1em 0.3em 0.1em 0.3em;
    border-radius: 5rem;
    margin: 0 0 0.2em 0;
    font-size: 1.125rem;
}

#coder {
    border: 0.2rem solid rgb(52, 112, 197);
    background-color: rgb(0, 71, 171);
    color: rgb(228, 241, 255);
}
#cyber {
    border: 0.2rem solid rgb(255, 216, 100);
    background-color: rgb(255, 191, 0);
    color: rgb(228, 241, 255);
}
#biotech {
    border: 0.2rem solid rgb(51, 186, 186);
    background-color: rgb(8, 143, 143);
    color: rgb(228, 241, 255);
}

#attack {
    border: 0.2rem solid rgb(240, 53, 106);
    background-color: rgb(222, 49, 99	);
    color: rgb(228, 241, 255);
}
#tank {
    border: 0.2rem solid rgb(255, 161, 67);
    background-color: rgb(242, 140, 40);
    color: rgb(228, 241, 255);
}
#support {
    border: 0.2rem solid rgb(124, 234, 124);
    background-color: rgb(144, 238, 144);
    color: rgb(228, 241, 255);
}

.single, .aoe, .dot {
    padding: 0.1em 0.35em 0.1em 0.35em;
    border-radius: 5rem;
    font-size: 1.125rem;
    margin: 0;
}

.single {
    border: 0.2rem solid rgb(70, 113, 242);
    background-color: rgb(98, 133, 237);
    color: rgb(228, 241, 255);
}
.aoe {
    border: 0.2rem solid rgb(255, 192, 203);
    background-color: rgb(255, 149, 166);
    color: rgb(228, 241, 255);
}
.dot {
    border: 0.2rem solid rgb(117, 86, 241);
    background-color: rgb(93, 63, 211);
    color: rgb(228, 241, 255);
}

.attackType {
    display: flex;
}


h2 {
    margin: 0;
}

p,li,strong {
    font-size: 18px;
}

ul,ol {
    margin-top: 0em;
}

strong {
    color: rgb(60, 100, 194);
}

p {
    margin: 0.5em 0em 0.5em 0em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(111, 188, 255);
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(60, 100, 194);
  border-radius: 1em;
}