@font-face {
    font-family: 'cookiefont';
    src: url(Fonts/cookie_bold.TTF) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'cookiefont';
    src: url(Fonts/cookie_regular.TTF) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'zzzfont';
    src: url(Fonts/印品鸿蒙体.ttf) format('truetype');
    font-weight: bolder;
}


 * {
    box-sizing: border-box;
}

body {
    font-family: cookiefont;
    font-weight: normal;
    background-color: rgb(83,162,231);
    display: flex;
    flex-direction: column;
    user-select: none; 
}

#header {
    display: flex;
    flex-direction: row;
}

#exit {
    left: 92%;
    top: 2em;
    width: 6em;
    align-self: flex-start;
    position: absolute;
}

#titlePanel {
    margin: 2em 2em 0em 2em;
    height: fit-content;
}

#cardPanel {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 1em;
    margin: 0em 2em 2em 2em;
}

.card {
    max-height: 33%;
    width: 100%;
    display: grid;
    place-items: center;
}

.cardImg {
    border-radius: 1em;
    width: 100%;
    min-width: 4rem;
    max-width: 8rem;
    height: 12rem;
    object-fit:cover;
}

.cardName {
    font-size: 18px;
    text-align: center;
    margin: 0.3em 0 0 0;
}

#filter {
    background-color: rgb(111, 188, 255);
    border: 1vh solid rgb(228, 241, 255);
    border-radius: 2vh;
    font-family: cookiefont;
    font-weight: bold;
    font-size: 24px;
    width: 20%;
}

#cardContainer {
    background-color: rgb(255,249,249);
    border: 1vh solid rgb(228, 241, 255);
    border-radius: 2vh;
    margin: 1em 0em 1em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
    align-self: start;
    position: sticky;
    top: 2em;
    overflow-y: scroll;

}

#infoContainer {
    background-color: rgb(111, 188, 255);
    border: 1vh solid rgb(228, 241, 255);
    border-radius: 2vh;
    margin: 1em 1em 1em 0em;
    padding: 3%;
    user-select: none; 
}

#contentList {
    background-color: rgb(111, 188, 255);
    border-radius: 1.25vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    row-gap: 1em;
    column-gap: 0.5em;
    width: 100%;
    padding: 5%;
}

.infoSection {
    background-color: rgb(185, 222, 255);
    font-family: cookiefont;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(7,30,34);
    width: 100%;
    border: none;
    border-radius: 1vh;
}

.infoTitles {
    font-weight: bolder;
    font-size: 48px;
}

p,li,strong {
    font-size: 24px;
}

ul,ol {
    margin-top: 0em;
}

strong {
    color: rgb(60, 100, 194);
}

p {
    margin-bottom: 0em;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(60, 100, 194);
  border-radius: 1em;
}